__pycache__
node_modules
.vscode
*.pyc

# misc
.DS_Store

Bike_API.log
#Bus_API.log
Application.log
emergency_service_api.log
parkings.log
population_api.log
StoreDataTest.csv
weather_record.json

myVenv
bin
